* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-areas: "header" "slider" "nav" "menu" "footer";
    grid-template-rows: 1fr 2fr auto 3fr 15rem;
    grid-template-columns: 1fr 2fr 1fr;
    color: white;

}
/*-----------------------AYUDA------------------------------*/
a:link  {
    text-decoration: none;
}

/*-----------------------HEADER---------------------------*/
.header {
    grid-area: header;
    width: 100%;
    min-width: 32rem;
    text-align: center;
    font-size: 1.7rem;
}

.title {
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem 1rem 1rem;
    background: black;
}

.header .title__logo h1{
    border: solid 2px #1c7929;
    padding: 3px;
    font-size: 25px;
    border-radius: 7px;
    background-color: black
}


.opc {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    background-color: #1c7929;
}

.opc a {
    color: black;
}

.opc .search {
    border: 1px solid black;
    padding: 2px;
    border-radius: 10px;
    background-color: white;
}

label {
    margin-left: 5px;
}

input {
    border: none;
}

/*-----------------------NAV-----------------------------------------*/


.nav {
    grid-area: nav;
    background-color: red;
    
}

.nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav ul li {
    display: inherit;
    justify-content: center;
    align-items: center;
    margin: 6px;
    height: 40px;
    width: 40px;
    background-color: green;
    border-radius: 22px;
}

.nav ul li a {
    color: black;
}

/*-----------------------SLIDER---------------------------*/

.slider {
    grid-area: slider;
    background-color: tomato;
}

/*-----------------------MENU---------------------------*/

.menu {
    grid-area: menu;
    background-color: blue;
}


/*-----------------------FOOTER---------------------------*/

.footer {
    grid-area: footer;
    background-color: coral;
}